/* Feed Items ////////////////////////////////////// */
.repsApp {
  background-color: #afeeee;
  width: 100%;
  height: 100%;
}

.feedItem {
  display:inline-block;
}

.list-group-item {
  padding: 5px 10px;
}

.fromName {
  float: left;
  padding-right: 5px;
}

.toName {
  float: left;
  padding-right: 5px;
}

.amount {
  margin: 0;
  float: left;
  padding-right:5px;
}

.category {
  margin: 0;
  float: left;
}

.gave {
  margin: 0;
  float: left;
  padding-right:5px;
}

.repsFor {
  margin: 0;
  float: left;
  padding-right:5px;
}

.period {
  margin: 0;
  float: left;
  padding-right:5px;
}

/* LoginPage /////////////////////////////////////////// */
.loginBody {
  text-align: center;
  position: absolute;
  top: 20%;
  width: 100%;
}

.loginHeader {
  width:100%;
}

.logo {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 200px;
}

.slogan {
  text-align: center;
}

.loginControl {
  width:auto;
  margin:0 auto;
}

.loginSubmit {
  margin-top:20px;
  margin-bottom:50px;
}

/* Toolbar Items /////////////////////////////////// */
.toolbarHomeLink {
  float:left;
  padding-right:30px;
}

/* Profile Page Items ////////////////////////////// */
.profileBox {
  background-color: white;
  overflow: hidden;
}

.profilePicture {
  float: left;
  min-width:180px;
  min-height:180px;
  margin:5px;
}

.profileUsername {
  margin-bottom:20px;
}

.profileData {
  position: relative;
}

.donationCategories {
  margin-top:5px;
}

.donationAmount {
  float:left;
  max-width:55px;
  margin-top:5px;
}

.donationButton {
  float:right;
}

.donationBox .navbar-text {
  font-size:16px;
}

.donationBox .give {
  margin-left:5px;
  margin-right:5px;
}

.donationBox .user {
  margin-left:5px;
  margin-right:15px;
}

/* Category Items /////////////////////////////////// */


/* Footer Items ///////////////////////////////////// */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  position:relative;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#content {
  padding-bottom:60px; /* Height of footer element */
}

/* About Page /////////////////////////////////// */
.aboutContent {
  align: center;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
}

/* Categories Table ////////////////////////////// */
.table-striped>tbody>tr:nth-child(odd)>td {
   background-color:#D18E4D;
}

.table-striped>tbody>tr:nth-child(even)>td {
   background-color:#E8C6A6;
}

.table-striped>tbody>tr:hover:nth-child(odd)>td {
    background-color: #BC8045;
}

.table-striped>tbody>tr:hover:nth-child(even)>td {
    background-color: #D1B295;
}

.table-striped {
  border-radius:4px;
}
