/* Feed Items ////////////////////////////////////// */
.repsApp {
  background-color: #afeeee;
  width: 100%;
  height: 100%;
}

.feedItem {
  display:inline-block;
}

.list-group-item {
  padding: 5px 10px;
}

.donorName {
  float: left;
  padding-right: 5px;
}

.receiverName {
  float: left;
  padding-right: 5px;
}

.amount {
  margin: 0;
  float: left;
  padding-right:5px;
}

.category {
  margin: 0;
  float: left;
}

.gave {
  margin: 0;
  float: left;
  padding-right:5px;
}

.repsFor {
  margin: 0;
  float: left;
  padding-right:5px;
}

.period {
  margin: 0;
  float: left;
  padding-right:5px;
}

/* Header /////////////////////////////////////////// */
.header {
  text-align: center;
  position: absolute;
  top: 20%;
  width: 100%;
}

.logo {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 200px;
}

.slogan {
  text-align: center;
}

/* Toolbar Items /////////////////////////////////// */
.toolbarHomeLink {
	float:left;
	padding-right:30px;
}

/* Profile Page Items ////////////////////////////// */
.profilePage {
  background-color: #afeeee;
  width: 100%;
  height: 100%;
}
.profileBox {
  background-color: white;
  overflow: hidden;
  width: 23%;
}

.profilePicture {
  float: left;
}

.profileData {
  float: right;
}
