/* General ////////////////////////////////////// */
.reps_form-label {
  padding-right: 10px;
}

.reps_padder {
  padding-bottom: 10px;
}

/* Feed Items ////////////////////////////////////// */
.score {
  height: 28px;
  display:inline-block;
  border-radius:2px;
}

.superText {
  display:inline-block;
  margin-left:5px;
  margin-right:5px;
}

.number {
  margin-top:7px;
  position:absolute;
  margin-left:5px;
  display:inline-block;
  font-size:14px;
}

.feedTitle {
  padding-top:15px;
  padding-left:10px;
  padding-bottom:15px;
}


.feedItem {
  display:inline-block;
}

.list-group-item {
  padding: 5px 10px;
}

.fromName {
  float: left;
  padding-right: 5px;
  margin-bottom: 3px;
}

.toName {
  float: left;
  padding-right: 5px;
}

.amount {
  margin: 0;
  float: left;
  padding-right:5px;
}

.category {
  margin: 0;
  float: left;
}

.action {
  margin: 0;
  float: left;
  padding-right:5px;
}

.for {
  margin: 0;
  float: left;
  padding-right: 5px;
}

.repsPronoun {
  margin: 0;
  float: left;
  padding-right:5px;
}

.period {
  margin: 0;
  float: left;
  padding-right:5px;
}

/* LoginPage /////////////////////////////////////////// */
.loginBody {
  text-align: center;
  position: absolute;
  top: 20%;
  width: 100%;
}

.loginHeader {
  width:100%;
}

.loginButton {
  margin-top:30px;
  margin-right:40px;
  margin-bottom:20px;
  float:right;
}

.logo {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 200px;
}

.slogan {
  text-align: center;
}

.signupSubmit {
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup {
  margin-top:20px;
}

.toggle {
  margin-top:20px;
  margin-bottom:15px;
  float:right;
}


/* Toolbar Items /////////////////////////////////// */
.searchBar {
  margin-top:20px;
}

.searchDisplayTable {
  display:inline-block;
  position:absolute;
  z-index:999;
}

.toolbarHomeLink {
  float:left;
  padding-right:30px;
}

/* Profile Page Items ////////////////////////////// */
.linksBox h4 {
  display:inline-block;
}

.linksBox {
  padding-left:35px;
}

.editBox {
  float:right;
}

.linksBox .list-group-item {
  border-left: none;
  border-right: none;
  border-radius: 0px;
  padding-left:0px;
}

.pictureBox {
  display:inline-block;
  position:relative;
}

.editPhotoForm {
  display:none;
}

.pictureBox .editPhoto {
  position:absolute;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.9);
  width:100%;
  border-radius:3px;
}

.editPhoto .glyphicon {
  font-size:22px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  color: white;
}

.editPhoto .pictureEditText {
  color: white;
  float:right;
  font-size: 12px;
  padding-top: 12px;
  padding-right: 15px;
}

.profileBox {
  margin-bottom:30px;
}

.profilePicture {
  float: left;
  width:180px;
  height:180px;
  margin:5px;
}

.aboutBox {
  margin-bottom:20px;
}

.profileUsername {
  margin-top:0px;
  font-size:28px;
}

.panel-body em {
  font-size:20px;
}

.superScorePanel {
  font-size:26px;
}

/* Category Items /////////////////////////////////// */


/* Footer Items ///////////////////////////////////// */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  position:relative;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#content {
  padding-bottom:60px; /* Height of footer element */
}

/* About Page /////////////////////////////////// */
.aboutContent {
  align: center;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
}

.categoriesHeader {
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
}

.portfolioHeader {
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
}

.categoriesItem {
  border-radius:4px;
}

/* LinkDelete ///////////////////// */
.linkDelete button {
  margin-right: 5px;
  margin-bottom:5px;
  margin-top:5px;
}

/* LinkInput ////////////////////// */
.linkInput .form-control {
  min-width:0px;
  width:auto;
  display:inline;
  margin-bottom:5px;
}

.linkInput button {
  margin-right:5px;
  margin-bottom:5px;
  margin-top:5px;
}

.linkInput p {
  display:inline-block;
  margin-left:2px;
  margin-right:2px;
}

/* AboutBox //////////////////////// */
.aboutBox .edit {
  display:inline;
  float:right;
}

/* LinkItem ///////////////////////// */
.linkItem .edit {
  display:inline;
  float:right;
}

.linkItem .pencil {
  margin-right:5px;
}

.linkItem .remove {
  margin-left:5px;
}

.linkItem .divider {
  display:inline;
}

.linkItem .text {
  display:inline-block;
}

/* Modal ///////////////////////// */
.categories-dropdown {
  padding-top: 10px;
  padding-bottom: 10px;
}
