<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Repcoin: Find your expert</title>
    <meta name="description" content="Find your expert. Repcoin is the first market-based approach to reputation. Prove yourself as an investor and get discovered as an expert for any skill." />
    <meta property="og:description" content="Find your expert. Repcoin is the first market-based approach to reputation. Prove yourself as an investor and get discovered as an expert for any skill." />
    <meta property=”og:title” content='Repcoin, A Market-Based Approach to Reputation' />
    <meta property=”og:url” content=”http://repcoin.com” />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://res.cloudinary.com/repcoin/image/upload/v1423513285/2RepCoinHeader_mwyh9z.png" />
    <meta property="fb:app_id" content="894010190618709" />
    <link rel="stylesheet" media="screen" href="css/bootstrap.css">
    <link rel="stylesheet" media="screen" href="css/bootstrap-social.css">
    <link rel="stylesheet" media="screen" href="css/font-awesome.min.css">
    <link href="css/app.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="links" style="display: none">
      <% users.forEach(function(user){ %>
        <a href="www.repcoin.com/#/user/<%= user._id %>"><%= user.username %></a>
      <% }); %>
    </div>
    <div id="wrap">
      <div id="fb-root"></div>
      <section id="repsapp"></section>
      <script src="app.js"></script>
    </div>
  </body>
</html>
